<!-- Tabla que se muestra en la pagina principal de la aplicacion
 la cual usa los componentes secundarios de notificaciones, buscador, modal, menu
 contextual y un skeleton de precarga para los datos-->
<div class="g-grid-templatex2 g-grid g-mb-16 tabla-contenedor__celular">
  <app-buscador (valueChange)="onValueChange($event)"></app-buscador>
  <div class="g-flex-end g-flex">
    <button class="btn btn-principal" (click)="irAgregarProducto()">
      Agregar
    </button>
  </div>
</div>

@if (!mostrarDatos) {
  <!-- Skeleton -->
  <div class="productos-container">
    <div class="contenedor-tabla">
      <table class="g-p-8">
        <thead>
          <tr>
            @for (item of campos; track $index) {
              <th>
                <div
                  [ngClass]="{ 'g-justify-content-center': $index == 0 }"
                  class="g-flex g-flex-row g-align-items__center g-gap-8"
                >
                  <div>
                    {{ item.titulo }}
                  </div>
                  @if ($index >= 2) {
                    <div>
                      <img
                        src="../../../assets/iconos/informacion.png"
                        alt="informacion-icono"
                      />
                    </div>
                  }
                </div>
              </th>
            }
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="cuadrado-esqueleton"></div>
            </td>
            <td>
              <div class="cuadrado-esqueleton"></div>
            </td>
            <td class="td-descripcion__tamano">
              <div class="cuadrado-esqueleton"></div>
            </td>
            <td>
              <div class="cuadrado-esqueleton"></div>
            </td>
            <td>
              <div class="cuadrado-esqueleton"></div>
            </td>
            <td>
              <div class="cuadrado-esqueleton"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="g-grid-templatex2 g-grid g-mt-16 tabla-contenedor__celular">
      <div class="cuadrado-esqueleton"></div>
      <div class="g-flex-end g-flex">
        <div class="cuadrado-esqueleton"></div>
      </div>
    </div>
  </div>
} @else {
  <div class="productos-container">
    <div class="contenedor-tabla">
      <table class="g-p-8">
        <thead>
          <tr>
            @for (item of campos; track $index) {
              <th>
                <div
                  [ngClass]="{ 'g-justify-content-center': $index == 0 }"
                  class="g-flex g-flex-row g-align-items__center g-gap-8"
                >
                  <div>
                    {{ item.titulo }}
                  </div>
                  @if ($index >= 2) {
                    <div>
                      <img
                        src="../../../assets/iconos/informacion.png"
                        alt="informacion-icono"
                      />
                    </div>
                  }
                </div>
              </th>
            }
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (item of filteredItems(); track item.id) {
            <tr>
              <td class="g-flex g-justify-content-center">
                @if (item.logo | validarImagen | async) {
                  <div class="logo-container">
                    <img
                      [src]="item.logo"
                      alt="Logo del producto"
                      class="logo-image"
                    />
                  </div>
                } @else {
                  <app-logo-generico [texto]="item.name | letraInicial">
                  </app-logo-generico>
                }
              </td>
              <td>{{ item.name | titlecase }}</td>
              <td class="td-descripcion__tamano">
                {{ item.description | titlecase }}
              </td>
              <td>{{ item.date_release | date: "yyyy-MM-dd " }}</td>
              <td>{{ item.date_revision | date: "yyyy-MM-dd " }}</td>
              <td>
                <app-menu-contextual [producto]="item"></app-menu-contextual>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="g-grid-templatex2 g-grid g-mt-16 tabla-contenedor__celular">
      <div>{{ filteredItems().length }} Resultados</div>
      <div class="g-flex-end g-flex">
        <select class="select-imagen" [(ngModel)]="itemsPorPagina">
          <option *ngFor="let option of cantidadItems" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
      </div>
    </div>
  </div>
}
