.g-grid {
    display: grid;
}

.g-grid-templatex2 {
    grid-template-columns: 1fr 1fr;
}

.g-flex {
    display: flex;
}

.g-flex-row {
    flex-direction: row;
}

.g-flex-column {
    flex-direction: column;
}

.g-flex-end {
    justify-content: flex-end;
}

.g-grid{
    display: grid;

    &__columnx2{
        grid-template-columns: 1fr 1fr;
    }
}


.g-justify-content-center {
    justify-content: center;
}


.g-gap-8 {
    gap: 8px;
}
.g-gap-16 {
    gap: 16px;
}
.g-gap-32 {
    gap: 32px;
}

.g-text-align {
    text-align: center;
}
.g-align-items__center{
    align-items: center;
}